main {
	min-height: 300px;
}

.footer {
	border-top: 1px solid Gold;
}

img {
	border: 1px solid black;
}

#login{
	margin: auto;
}

#errorMessage{
	color: red;
}

#logOutMessage{
	text-align: center;
	color: green;
}
.dropDownLink{
	color: white;
}
.dropDownMenu{
	position: relative;
	display: inline-block;
}
.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropDownContent a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropDownContent a:hover {background-color: #ddd;}
.dropDownMenu:hover .dropDownContent {display: block;}
.dropDown:hover .dropDownLink {background-color: #3e8e41;}